{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% block Titel %} {{ object.id }} {% endblock %}
{% block scriptHeader %}
{{ block.super }}
<link rel="stylesheet" href="http://teic.github.io/CETEIcean/css/CETEIcean.css" media="screen" charset="utf-8">
<script src="http://teic.github.io/CETEIcean/js/CETEI.js"></script>
<style>
  html {margin: 0; padding: 0}
</style>
{% endblock scriptHeader %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'entities:generic_entities_detail_view' entity=entity_type pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous"></span></a>
                    </h2>
                {% endif %}
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <h1>
                      {{ object }}
                      {% if user.is_authenticated %}
                         <a href="{% url 'entities:generic_entities_edit_view' entity_type object.id %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit">
                         </a>
                     {% endif %}
                    </h1>
                    <small><a href="{% url 'entities:generic_entities_list' entity_type %}">see all {{entity_type}}</a></small>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'entities:generic_entities_detail_view' entity=entity_type pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next"></span></a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <legend>General Info</legend>
                    {% block info-table %}
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Titel
                            </th>
                            <td>
                                {{ object.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Type
                            </th>
                            <td>
                                {{ object.kind}}
                            </td>
                        </tr>
                        {% if object.start_date or object.end_date %}
                        <tr>
                            <th>
                                Date
                            </th>
                            <td>
                                {% if object.start_date %}
                                    <abbr title="{{ object.start_date_written }}">{{ object.start_date }}</abbr>
                                {% endif %}
                                {% if object.end_date %}
                                    - <abbr title="{{ object.end_date_written }}">{{ object.end_date }}</abbr>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    {% endblock info-table %}
                    <legend>Relations</legend>
                    {% block relations %}
                    {% for obj in right_panel %}
                        {% if obj.1.data|length > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> {{ obj.0 }}</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="tab_{{ obj.2 }}" class="panel-body">
                                            {% render_table obj.1 %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endblock relations %}
                    {% block images %}
                    {% if object.work_depicted_by.all %}
                        <legend>Images</legend>
                        {% for x in object.work_depicted_by.all %}
                            <li>
                                {{ x }}
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% endblock images %}
                    {% block left-pane-additional %}
                    {% endblock left-pane-additional %}
                </div>
            </div>
            <div class="col-md-6">
              {% block right-pane-additional %}
              {% endblock right-pane-additional %}
              {% block right-panel-text %}
                {% if object.text.all %}
                    <div class="panel-body">
                        <legend>
                            Texts
                        </legend>
                        {% for x in object.text.all %}
                        {% if "<text" in x.text %}
                        <div id="TEI">
                            hansi
                        </div>
                        {% endif %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> {{ x.kind }}</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel-body" {% if "<text" in x.text %}id="sourctei"{% endif %}>
                                            {{ x.text }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="panel-body">
                        <legend>No text provided for this {{entity}}</legend>
                    </div>
                {% endif %}
                {% endblock right-panel-text %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{block.super}}
<script type="text/javascript">
    var CETEIcean = new CETEI();
    var teiString = $("#sourctei").text();
    CETEIcean.makeHTML5(teiString, function(data) {
        document.getElementById("TEI").innerHTML = "";
        document.getElementById("TEI").appendChild(data);
        CETEIcean.addStyle(document, data);
    });
</script>
{% endblock scripts %}
