include LICENSE
include README.rst
include apis_core/templates/apis_templatetag.html
recursive-include apis_core/apis_entities/templates/apis_entities *
recursive-include apis_core/apis_labels/templates/apis_labels *
recursive-include apis_core/apis_metainfo/templates/apis_metainfo *
recursive-include apis_core/apis_relations/templates/apis_relations *
recursive-include apis_core/templates/apis_templates *
recursive-include apis_core/apis_vis/templates/apis_vis *
