amqp==5.0.2; python_version >= "3.6"
asgiref==3.3.1; python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
billiard==3.6.3.0; python_version >= "3.6"
celery==5.0.4; python_version >= "3.6"
certifi==2020.12.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
chardet==3.0.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
click-didyoumean==0.0.3; python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.6"
click-repl==0.1.6; python_version >= "3.6"
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
convertdate==2.3.0; python_version >= "3.5"
defusedxml==0.6.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
django-autocomplete-light==3.8.1
django-cors-headers==3.5.0; python_version >= "3.5"
django-crispy-forms==1.10.0; python_version >= "3.5"
django-crum==0.7.9
django-filter==2.4.0; python_version >= "3.5"
django-gm2m==1.1.1
django-guardian==2.3.0; python_version >= "3.5"
django-haystack==3.0
django-leaflet==0.27.1
django-model-utils==4.1.1
django-reversion==3.0.8; python_version >= "3.6"
django-summernote==0.8.11.6
django-tables2==2.3.3
django==3.1.4; python_version >= "3.6"
djangorestframework-csv==2.1.0
djangorestframework-jsonschema==0.1.1
djangorestframework-xml==2.0.0; python_version >= "3.5"
djangorestframework==3.12.2; python_version >= "3.5"
drf-spectacular==0.11.1; python_version >= "3.6"
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
importlib-metadata==3.1.1; python_version >= "3.6" and python_version < "3.8"
inflection==0.5.1; python_version >= "3.6"
isodate==0.6.0
jmespath==0.10.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
jsonschema==3.2.0
kombu==5.0.2; python_version >= "3.6"
lxml==4.6.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
prompt-toolkit==3.0.3; python_version >= "3.6"
pymeeus==0.3.7; python_version >= "3.5"
pymongo==3.11.2
pyparsing==2.4.7; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
pyrsistent==0.17.3; python_version >= "3.6"
pysolr==3.9.0
pytz==2020.4; python_version >= "3.6"
pyyaml==5.3.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
rdflib==5.0.0
regex==2020.11.13
requests==2.25.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
sentry-sdk==0.19.5
six==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
sparqlwrapper==1.8.5
sqlparse==0.4.1; python_version >= "3.6"
tablib==3.0.0; python_version >= "3.6"
unicodecsv==0.14.1
uritemplate==3.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
urllib3==1.26.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
vine==5.0.0; python_version >= "3.6"
wcwidth==0.2.5; python_version >= "3.6"
whitenoise==5.2.0; python_version >= "3.5" and python_version < "4"
zipp==3.4.0; python_version >= "3.6" and python_version < "3.8"
