{% extends "webpage/base.html" %}
{% load charts_extras %}
{% block scriptHeader %}
{{ block.super }}
    {% load_highcharts_js %}
    <style>
        #container {
        	min-width: 310px;
        	max-width: 800px;
        	height: 400px;
        	margin: 0 auto
        }
    </style>
{% endblock %}
{% block content %}
<div class="card card-default">
<div class="card-heading"></div>
<div class="card-body">
<div id="container"></div>
</div>
</div>
{% endblock %}
{% block scripts %}
{{block.super}}
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {

        var options = {
            chart: {
                renderTo: 'container',
                type: 'line'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: []
            },
            series: []
        };

        Highcharts.ajax({
            url: "{% url 'apis:apis_vis:get_avg_age_data' %}",
            success: function(data) {
                // console.log(data.payload)
                var payload = data.payload;
                console.log('loaded');
                options.series = payload;
                options.title.text = data.title;
                options.xAxis.categories = data.x_axis;
                var chart = new Highcharts.Chart(options);
            }
        });

    });
</script>
{% endblock %}
